.home{
    display: flex;
    flex-direction: row;    
}

.credentials{
    width:100%;
}

.accountTypeDiv {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

.accountType {
	font-size: 25px;
}

.signUpLoginDiv {
	display: flex;
}