.inputBoxContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.inputBoxFlex{
    width: 20%;
}

.inputBoxText{
    font-size: 25pt;
    text-align: center;
    font-weight: bold;
}